body {
	font-family: "JetBrains Mono Variable", sans-serif;
	color: #4b5563;
	line-height: 200%;
}
h1,
h2,
h3 {
	color: #e74694;
}

h2,
h3 {
	color: #f17eb8;
}
strong {
	color: #9061f9;
}

p {
	line-height: 180%;
}

.post-container {
	padding-bottom: 4rem;
}
