strong {
	color: #9061f9;
}

html.dark strong {
	color: #ac94fa;
}

p {
	line-height: 180%;
}

.post-container {
	padding-bottom: 4rem;
}

code {
	color: #9061f9;
	font-size: 110%;
}

html.dark code {
	color: #8da2fb;
}

em {
	color: #0e9f6e;
}

html.dark em {
	color: #bcf0da;
}
