html {
	background-color: #fdf2f8;
	color: #4b5563;
}

html.dark {
	background-color: #233876;
	color: #fce8f3;
}

.dark .nav-links a {
	color: #cabffd;
}

.dark .nav-links a:hover {
	color: #42389d;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	padding: 1rem;
	font-family: "JetBrains Mono Variable", sans-serif;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
	color: #e74694;
}

h2 {
	color: #f17eb8;
}

h3 {
	color: #ac94fa;
}

html.dark h1 {
	color: #f17eb8;
}

html.dark h2 {
	color: #f8b4d9;
}

html.dark h3 {
	color: #cabffd;
}

p {
	text-align: justify;
}

/* nav styles */
.hamburger {
	padding-right: 20px;
	cursor: pointer;
}

.hamburger .line {
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #ff9776;
}

.nav-links {
	width: 100%;
	top: 5rem;
	left: 48px;
	background-color: #ff9776;
	display: none;
	margin: 0;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
	background-color: #ff9776;
}

.expanded {
	display: unset;
}

@media screen and (min-width: 636px) {
	.nav-links {
		display: block;
		position: static;
		width: auto;
		background: none;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}
	.hamburger {
		display: none;
	}
}
