---
import TagLink from "../../components/TagLink.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getUniqueTags } from "../../utils/markdownUtils";

const tags = getUniqueTags(await Astro.glob("../posts/*.md"));
const description =
    "on this website you can find list of all tags used throughout all blog posts";
---

<BaseLayout pageTitle={"Tags page"} metaDescription={description}>
    <h3>{description}</h3>
    <div class="tags-list">
        {
            tags.map((tag) => (
                <p>
                    <TagLink
                        text={`#${tag.replaceAll(" ", "_")}`}
                        url={`/tags/${tag}`}
                    />
                </p>
            ))
        }
    </div>
</BaseLayout>
