---
import Image from "astro/components/Image.astro";
import hondziarz from "../assets/ja_w_hondzie.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About me";
---

<BaseLayout
    pageTitle={pageTitle}
    metaDescription="this page is about author of this website - Jakub Jachowski"
>
    <div class="prose prose-p:text-justify dark:prose-invert">
        <div class="flex flex-col items-center sm:flex-row">
            <Image
                src={hondziarz}
                alt="ja"
                quality={"low"}
                class={"border-4 border-indigo-500 w-3/4 mb-2 sm:w-1/3 shadow-md sm:shadow-2xl "}
            />
            <h2
                class="text-3xl text-pink-600 mb-0 text-center mt-0 sm:text-right grow"
            >
                Hello there! <br /> My name is Jakub.
            </h2>
        </div>
        <p>
            I'm a frontend developer who likes to try out new stuff. Currently
            TypeScript, React.js, Next.js, Astro nad Tailwind are my tools of
            choice for creating high performance good looking UIs with ease.
        </p>
        <p>Can't stand plain JS, always ready to refactor to TypeScript.</p>
        <p>Code review</p>
        <p>
            Trying not to fall into a trap of good practices™, doing what feels
            and looks right.
        </p>
        <p>
            I enjoy doing code reviews, in my opinion almost always there is
            something to learn for both sides.
        </p>
        <p>
            Outside of coding, you'll find me geeking about all latest science
            and tech trends, riding my bike, watching formula 1 races or playing
            with my two cute cats - Pyza and Chałka.
        </p>
        <p>
            On this website I learn all things web related, try out new
            technologies and spend time changing colors whenever I feel like it.
            Keeping triple 100/100 lighthouse score is my mission!
        </p>
    </div>
</BaseLayout>
