---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "blog - learning astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout
    pageTitle={pageTitle}
    metaDescription="here are all blog posts for this website"
>
    <p>blog posts:</p>
    <ul>
        {
            allPosts.map((post) => (
                <li>
                    <BlogPost title={post.frontmatter.title} url={post.url} />
                </li>
            ))
        }
    </ul>
</BaseLayout>
