---
import szczurson from '../assets/chałka_z_językiem.jpeg';
import puzolini from '../assets/puzon_dziwna_pozycja.jpeg';
import CatImage from '../components/CatImage.astro';
import Greeting from '../components/Greeting';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Home Page">
	<p class="mb-8 text-xl">Welcome on my portfolio/blog/playground website, feel free to explore. The idea behind this website was to explore yet another framework - Astro.js.</p>
	<p class="mb-8 text-l">Astro main benefit is being lightweight and SEO friendly, so a challenge I set for myself was to score 100/100 in lighthouse when building this app.</p>
	<p class="mb-8 text-sm">TODO: fix view transition dark theme bug, add todo component to write prettier todos</p>

	<Greeting client:idle messages={['Hi', 'Hello', 'Howdy', 'Hey there']} />

	<p class="mb-2 mt-8 text-xl">Behold - my cats:</p>
	<div class="mb-8 flex flex-col space-y-4 sm:flex-row sm:space-x-8 sm:space-y-0">
		<CatImage
			src={puzolini}
			color="pink"
			description="this is Pyza"
			alt="my cat - pyza, sitting in a really funny position, kind of like a human would sit, with one leg in the air"
		/>
		<CatImage
			src={szczurson}
			color="amber"
			description="this is Chałka"
			alt="my cat - pyza, sitting on a patch of grass looking beautiful as usual"
		/>
	</div>
</BaseLayout>
