---
import szczurson from "../assets/chałka_z_językiem.jpeg";
import puzolini from "../assets/puzon_dziwna_pozycja.jpeg";
import CatImage from "../components/CatImage.astro";
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home Page">
	<p class="text-xl mb-8">
		Welcome on my portfolio/blog/playground website, feel free to explore
	</p>

	<Greeting client:idle messages={["Hi", "Hello", "Howdy", "Hey there"]} />

	<p class="text-xl mt-8 mb-2">Behold - my cats:</p>
	<div
		class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-8 mb-8"
	>
		<CatImage
			src={puzolini}
			color="pink"
			description="this is Pyza"
			alt="my cat - pyza, sitting in a really funny position, kind of like a human would sit, with one leg in the air"
		/>
		<CatImage
			src={szczurson}
			color="amber"
			description="this is Chałka"
			alt="my cat - pyza, sitting on a patch of grass looking beautiful as usual"
		/>
	</div>
</BaseLayout>
