---
import { Image } from "astro:assets";
import szczurson from "../assets/chałka_z_językiem.jpeg";
import puzolini from "../assets/puzon_dziwna_pozycja.jpeg";
import CatImage from "../components/CatImage.astro";
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home Page">
	<Greeting client:idle messages={["Hi", "Hello", "Howdy", "Hey there"]} />

	<div
		class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 my-8"
	>
		<CatImage
			src={puzolini}
			color="pink"
			description="this is Pyza"
			alt="my cat - pyza, sitting in a really funny position, kind of like a human would sit, with one leg in the air"
		/>
		<CatImage
			src={szczurson}
			color=""
			description="this is Chałka"
			alt="my cat - pyza, sitting on a patch of grass looking beautiful as usual"
		/>
		<!-- <div class="sm:w-1/2 border-4 border-pink-500 dark:border-pink-300">
			<Image
				class="border-b-4 border-pink-500 dark:border-pink-300 shadow-2xl"
				src={puzolini}
				quality="low"
				alt="my cat - pyza, sitting on a patch of grass looking beautiful as usual"
			/>
			<p
				class="text-center bg-pink-200 text-pink-800 dark:bg-pink-700 dark:text-pink-100 p-4"
			>
				this is Pyza
			</p>
		</div> -->

		<div class="sm:w-1/2 border-4 border-amber-500 dark:border-amber-100">
			<Image
				class="border-b-4 border-amber-500 dark:border-amber-100 shadow-2xl"
				src={szczurson}
				quality="low"
				alt="my cat - chałka, giving herself a quick cleaning session while laying on hammock"
			/>
			<p
				class="text-center bg-amber-100 p-4 dark:bg-amber-700 text-amber-800 dark:text-amber-100"
			>
				this is Chałka
			</p>
		</div>
	</div>
</BaseLayout>
