---
type Props = {
    title?: string;
    url?: string;
};
const { title, url } = Astro.props;
---

<style>
    a {
        font-size: larger;
        line-height: 200%;
        color: #d61f69;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #751a3d;
    }

    html.dark a {
        color: #f8b4d9;
    }

    html.dark a:visited {
        color: #6875f5;
    }
</style>
{title && url && <a href={url}>{title}</a>}
