---
type Props = {
    title?: string;
    url?: string;
};
const { title, url } = Astro.props;
---

{
    title && url && (
        <a
            class="text-xl leading-10 text-indigo-500 decoration-2 visited:text-pink-300 hover:text-pink-400 hover:underline"
            href={url}
        >
            {title}
        </a>
    )
}
