---
import Social from './Social.astro';
---

<footer class="mt-16 text-xl sm:mt-28">
	<p>
		have a look at my <Social platform="github" username="jjachowski" /> or <Social
			platform="linkedin"
			username="in/jjachowski"
		/>
	</p>
</footer>
