---
import Social from "./Social.astro";
const platform = "github";
const username = "jjachowski";
---

<footer class="mt-16 sm:mt-28 text-xl">
    <p>
        have a look at my <Social platform="github" username="jjachowski" /> or <Social
            platform="linkedin"
            username="in/jjachowski"
        />
    </p>
</footer>
