---
import Social from "./Social.astro";
const platform = "github";
const username = "jjachowski";
---

<footer>
    <p>
        have a look at my <Social platform="github" username="jjachowski" /> if you
        want
    </p>
    <p>
        please don't use linkedin <Social
            platform="linkedin"
            username="in/jjachowski"
        />
    </p>
</footer>
