<div
    id="hamburger"
    class="flex flex-col justify-center items-center w-10 h-10 sm:hidden"
>
    <div class="w-8 h-1 bg-pink-500 mb-1.5"></div>
    <div class="w-8 h-1 bg-pink-500 mb-1.5"></div>
    <div class="w-8 h-1 bg-pink-500"></div>
</div>
