---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<div>
    <Hamburger />
    <Navigation />
</div>

<script>
    document?.querySelector(".hamburger")?.addEventListener("click", () => {
        document?.querySelector(".nav-links")?.classList.toggle("expanded");
    });
</script>
