<style>
    .expanded {
        display: flex !important;
    }
</style>
<div
    class="nav-links hidden top-0 sm:flex space-y-2 sm:space-y-0 flex-col items-center w-full sm:flex-row sm:space-x-4"
>
    <a class="text-2xl text-indigo-600" href="/">Home</a>
    <a class="text-2xl text-indigo-400" href="/blog/">Blog</a>
    <a class="text-2xl text-indigo-400" href="/tags/">Tags</a>
    <a class="text-2xl text-indigo-400" href="/about/">About</a>
</div>
