---
type Props = {
    text?: string;
    url?: string;
    fontSize?: string;
};
const { text, url, fontSize } = Astro.props;
---

<style define:vars={{ fontSize }}>
    a {
        color: #9061f9;
        text-decoration: none;
        font-size: var(--fontSize);
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: #4a1d96;
    }
</style>
{text && url && <a href={url}>{text}</a>}
