---
import "@fontsource-variable/jetbrains-mono";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MetaDescription from "../components/MetaDescription.astro";
interface Props {
    pageTitle?: string;
    metaDescription?: string;
    withoutHeadTag?: boolean;
}
const {
    pageTitle = "This is a page indeed",
    metaDescription,
    withoutHeadTag,
} = Astro.props;
---

<html lang="en" class="font-jetbrains">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <MetaDescription description={metaDescription} />
    </head>

    <body
        class="w-full flex justify-center bg-rose-100 dark:bg-gray-800 text-pink-900 dark:text-pink-100"
    >
        <div class="max-w-4xl p-4 sm:p-8">
            <Header />
            {
                !withoutHeadTag && (
                    <h1 class="mb-8 text-5xl text-pink-600">{pageTitle}</h1>
                )
            }
            <slot />
            <Footer />
        </div>
    </body>
</html>
