---
// Supports weights 100-800
import "@fontsource-variable/jetbrains-mono";
import "../styles/blogPost.css";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<style>
    p {
        color: #6875f5;
    }
</style>
<BaseLayout
    pageTitle={frontmatter.title}
    metaDescription={frontmatter.description}
>
    <div class="post-container">
        {
            frontmatter.pubDate && (
                <>
                    <p>
                        Published on:{" "}
                        {new Date(frontmatter.pubDate).toLocaleDateString()}
                    </p>
                    <p>
                        tags:{" "}
                        {frontmatter.tags
                            .map((x: string) => "#" + x.replaceAll(" ", "_"))
                            .join(" ")}
                    </p>
                </>
            )
        }
        <p>Written by {frontmatter.author}</p>
        <slot />
    </div>
</BaseLayout>
